{{ ansible_managed | comment }}

[machines]
{% for machine,ip in namenode_machines.items() %}
{{ machine }} ansible_host={{ ip }}
{% endfor %}
{% for machine,ip in manager_machines.items() %}
{{ machine }} ansible_host={{ ip }}
{% endfor %}
{% for machine,ip in datanode_machines.items() %}
{{ machine }} ansible_host={{ ip }}
{% endfor %}

[hadoop_namenodes]
{% for machine,ip in namenode_machines.items() %}
{{ machine }} ansible_host={{ ip }}
{% endfor %}

[hadoop_managers]
# these hosts will run: ResourceManager, NodeManager and MapReduce Job History server
{% for machine,ip in manager_machines.items() %}
{{ machine }} ansible_host={{ ip }}
{% endfor %}

[hadoop_datanodes]
{% for machine,ip in datanode_machines.items() %}
{{ machine }} ansible_host={{ ip }}
{% endfor %}

[hadoop:children]
hadoop_namenodes
hadoop_datanodes
hadoop_managers
